.app{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
button{
    color: rgb(231, 28, 28);
    background-color: rgb(131, 138, 131);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    text-transform: capitalize;

}
.animal-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}